.search_form {
	max-width: 480px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
}
.search_form_label {
	margin-bottom: 5px;
}
.search_input {
	width: 100%;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
}
.search_input:focus {
	border-color: #1976d2;
	border-width: 1px;
}
